.container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.starsContainer {
  display: flex;
  gap: 4px;
}

.starCount {
  margin: 0;
  line-height: 1;
}

.star {
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
}
